<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <log4net>

    <appender name="BufferingForwardingAppender" type="log4net.Appender.BufferingForwardingAppender" >
      <bufferSize value="128" />
      <lossy value="true" />
      <threshold value="WARN"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <appender-ref ref="RollingFileAppender" />
    </appender>
    
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="5meWebapi.txt" />
      <appendToFile value="true" />
      <!-- Rolling the file based on size constrain -->
      <rollingStyle value="Size" />
      <!-- number of backup file is 10-->
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">

      <!-- ConsoleAppender uses PatternLayout -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <appender-ref ref="BufferingForwardingAppender" />
      <appender-ref ref="ConsoleAppender" />      
    </root>
    
  </log4net>
</configuration>